@charset "UTF-8";

@media print {

    main {
        border: 2px solid black;
    }

    main h1 {
        color: black;
        text-shadow: none;
    }

    img#phone {
        display: none;
    }
    
    img#print {
        display: block;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }
    
    img#tablet {
        display: block;
    }
    
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#desktop {
        display: block;
    }
    
}

@media screen and (min-width: 1201px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {
        display: none;
    }

    img#TV {
        display: block;
    }
    
}