@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 80vw;
        background-position: center bottom;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%
    }

    section#login > div#form {
        float: right;
        width: 70%;
        height: 100%;
    }

    div#form > p {
        text-align: justify;
        font-size: 1.2em;
        line-height: 1.2em;
    }

    form > div.campo > input {
        height: 30px;
    
        transform: translate(-2%, -9.5%);
    
        width: 89%;
        font-size: 1.1em;
        height: 30px;
        
        border: 2px solid #49a09d;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px ;
    }
    
}

@media screen and (min-width: 993px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 950px ;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#form {
        float: left;
        width: 50%;
    }

    div#form > p {
        text-align: justify;
        font-size: 1.2em;
        line-height: 1.2em;
    }

    form > div.campo > input {
        height: 30px;
    
        transform: translate(-2%, -9%);
    
        width: 89%;
        font-size: 1.1em;
        height: 30px;
        
        border: 2px solid #49a09d;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px ;
    }
    
    
}